version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER:-admin}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-senha123}
      POSTGRES_DB: ${DB_NAME:-clientes_db}
    volumes:
      - dados_do_banco:/var/lib/postgresql/data
    networks:
      - backend_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d clientes_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build: .
    container_name: flask_app
    restart: unless-stopped
    environment:
      - DATABASE_URL=postgresql://${DB_USER:-admin}:${DB_PASSWORD:-senha123}@db:5432/${DB_NAME:-clientes_db}
    depends_on:
      db:
        condition: service_healthy
    networks:
      - frontend_net
      - backend_net

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - web
    networks:
      - frontend_net

  adminer:
    # Trocamos a imagem oficial pela versão customizada
    image: p76codat/adminer-custom
    container_name: adminer_panel
    restart: always
    environment:
      # Definimos o tema aqui. Você pode trocar para 'material' ou 'flat' se preferir
      - ADMINER_DESIGN=dracula 
    ports:
      - "8080:8080"
    networks:
      - backend_net

networks:
  frontend_net:
  backend_net:

volumes:
  dados_do_banco:
    name: vol_lab_persistente